@charset "UTF-8";

.gazou {
  display: none;
}

.main {
  width: 1000px;
  background-color: #d3e9e4;
  font-size: 21px;
  padding-top: 10px;
}

@media screen and (max-width: 680px) {
  .main {
    width: 350px;
    margin: 0 auto;
  }
}
.top {
  width: 918px;
  margin-left: 40px;
  margin-bottom: 30px;
}

h2 {
  color: #006934;
  font-size: 40px;
  text-align: center;
  font-family: "Sawarabi Gothic", "Yu Gothic", "Hiragino Kaku Gothic ProN",
    "Helvetica Neue", "Helvetica", "Hiragino Sans", "Arial", "Meiryo",
    sans-serif;
  text-decoration: underline;
  text-decoration-color: #006934;
  padding-bottom: 30px;
}

.midori::after {
  content: url(../images/midori001.png);
}

.content {
  width: 918px;
  margin-left: 30px;
  padding-bottom: 10px;
  padding: 10px 10px 10px 10px;
  border: 2px solid #898989;
  margin-bottom: 30px;
}
.text {
  display: flex;
  padding-left: 60px;
  padding-right: 60px;
  margin-bottom: 10px;
  margin-top: 10px;
}
.content .text a:hover {
  color: #e83828;
}
.content .text a {
  text-decoration: none;
  color: black;
}
.text p {
  padding-left: 80px;
  padding-right: 80px;
}
.text-2 {
  display: flex;
  padding-left: 15px;
  padding-right: 20px;
  margin-bottom: 10px;
  margin-top: 10px;
}
.text-2 p {
  padding-left: 40px;
}
.content .text-2 a:hover {
  color: #e83828;
}
.content .text-2 a {
  text-decoration: none;
  color: black;
}
.about {
  display: flex;
  /* justify-content: center; */
  background-color: #fff;
  padding-left: 30px;
  padding-right: 10px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.text-3 {
  font-size: 24px;
  padding-bottom: 10px;
  padding-left: 40px;
  padding-top: 20px;
}
.about-2 {
  /* width: 722px; */
  font-size: 21px;
  line-height: 30px;
  padding: 10px 70px 40px 70px;
  text-align: justify;
}
.a-1 {
  background-color: #fff;
}
.a-2 {
  background-color: #fbedea !important;
}
.about-3 {
  display: flex;
  justify-content: center;

  padding-left: 30px;
  padding-right: 10px;
  padding-top: 40px;
  padding-bottom: 30px;
}

@media screen and (max-width: 680px) {
  .midori-1 {
    flex-direction: column;
    justify-content: center;
  }

  .midori-1 img {
    width: 200px;
    padding-top: 20px;
    margin: 0 auto;
  }
}
@media screen and (max-width: 680px) {
  .main div p {
    font-size: 18px;
    margin-top: 10px;
    font-family: "Sawarabi Gothic", "Yu Gothic", "Hiragino Kaku Gothic ProN",
      "Helvetica Neue", "Helvetica", "Hiragino Sans", "Arial", "Meiryo",
      sans-serif;
    /* width: 100%100cqh; */
    /* width: 350px; */
    padding: 0 4px;
    width: calc(100% - 8px);
    text-align: justify;
  }

  h2 {
    font-size: 24px;
    font-family: "Sawarabi Gothic", "Yu Gothic", "Hiragino Kaku Gothic ProN",
      "Helvetica Neue", "Helvetica", "Hiragino Sans", "Arial", "Meiryo",
      sans-serif;
  }

  .midori::after {
    content: url(../images/midori001.png);
  }
  .midori-1 {
    display: block;
    /* display: flex;
    flex-direction: column; */
    /* text-align: center; */
  }
  .text-3 {
    display: contents;
    padding-bottom: 20px;
  }
  .satou {
    padding-bottom: 20px;
    /* text-align: right; */
  }
  .midori-3::after {
    content: ""; /*何も入れない*/
    display: inline-block;
    width: 30px; /*画像の幅*/
    height: 30px; /*画像の高さ*/
    background-image: url(../images/midori001.png);
    background-size: contain;
    vertical-align: middle;

    /* content: url(../images/icon01.png); */
  }

  .midori-1 img {
    text-align: center;
    color: #006934;
  }
}
