@charset "UTF-8";
html {
  scroll-behavior: smooth;
  font-size: 10px;
}
body {
  font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN",
    "Hiragino Sans", Meiryo, sans-serif;
}
.container {
  width: 1000px;
  margin: 0 auto;
  background-color: #fff;
  font-size: 21px;
  text-align: center;
}
@media screen and (max-width: 680px) {
  .container {
    width: 100%;
    margin: 0 auto;
    font-size: 18px;
  }
}
.midori::after {
  content: url(../images/midori002.png);
  /* vertical-align: middle; */
}
@media screen and (max-width: 680px) {
  .midori::after {
    content: url(../images/midori002.png);
    vertical-align: middle;
  }
}
h2 {
  font-size: 80px;
  text-align: center;
}
.under {
  border-bottom: 3px solid #000;
  display: inline-block;
  padding-bottom: 5px;
  margin-bottom: 30px;
}

.midori::after {
  content: url(../images/midori001.png);
}
.midori-1 {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 680px) {
  .midori::after {
    display: none;
  }

  h2 {
    font-size: 21px;
    text-align: center;
  }

  .under {
    border-bottom: 3px solid #000;
    display: inline-block;
    padding-bottom: 5px;
  }

  .midori::after {
    content: url(../images/midori001-sp.png);
    content: ""; /*何も入れない*/
    display: inline-block;
    width: 5px; /*画像の幅*/
    height: 5px; /*画像の高さ*/

    background-size: contain;
    vertical-align: middle;
  }
  /* .midori-1 {
  display: flex;
  align-items: center;
} */
}

/* ここまでは同じ　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　↑↑ */

.text p {
  text-align: left;
  padding-left: 100px;
  padding-bottom: 10px;
}

.info {
  display: flex;
}
.info p {
  font-size: 30px;
  padding-left: 80px;
  padding-bottom: 10px;
  margin-bottom: 20px;
  margin-top: 30px;
}
.info img {
  width: 400px;
  height: 4px;
  margin-bottom: 20px;
  margin-top: 45px;
}

@media screen and (max-width: 680px) {
  .text {
    width: 100%;
  }
  .text p {
    text-align: left;
    padding-left: 20px;
    padding-bottom: 20px;
    font-size: 18px;
  }
  .info {
    display: flex;
    flex-direction: column;
  }
  .info p {
    font-size: 24px;
    padding-left: 0px;

    text-align: center;
  }
}
/* 　　　　　アコーディオンにする箇所　　　　　 */

.question {
  display: flex;
}
.Q {
  height: 73px;
  width: 73px;
  font-size: 65px;
  padding: 3px 3px 3px 3px;
  border: 2px solid #006934;
  background-color: #aad4c7;
  margin-left: 80px;
  margin-bottom: 2px;
  margin-top: 10px;
}
.Q-1 {
  width: 747px;
  font-size: 24px;
  color: #15381c;
  text-align: left;
  padding: 10px 10px 10px 10px;
  border: 2px solid #15381c;
  background-color: #aad4c7;
  margin-left: 10px;
  margin-bottom: 2px;
  margin-top: 10px;
}
.A {
  height: 73px;
  width: 73px;
  font-size: 65px;
  color: #0b318f;
  padding: 3px 3px 3px 3px;
  border: 2px solid #006934;
  background-color: #d3e9e4;
  margin-left: 80px;
  margin-bottom: 10px;
  margin-top: 10px;
}
.A-1 {
  width: 747px;
  font-size: 24px;
  color: #0b318f;
  text-align: left;
  padding: 10px 10px 10px 10px;
  border: 2px solid #006934;
  background-color: #d3e9e4;
  margin-left: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.kasaneru img {
  width: 100%;
  justify-content: center;
}

.kasaneru {
  position: relative; /*親要素にrelative*/
}
.kasaneru p {
  position: absolute;
  /* 重ねたい子要素にabsolute */
  top: 60%;
  left: 20%;
  -ms-transform: translate(-50%, -50%); /*ベンダープレフィックス*/
  -webkit-transform: translate(-50%, -50%); /*ベンダープレフィックス*/
  transform: translate(-50%, -50%); /*センター寄せの修正*/
  color: #000;
  font-size: 30px;
  margin: 0 !important; /*文字がずれている場合や*/
  padding: 0 !important; /*文字が折り返される場合*/
}
.gazou {
  display: none;
}

@media screen and (max-width: 680px) {
  .gazou {
    display: block;
  }

  .sp-kasaneru {
    position: relative;
  }

  .sp-kasaneru img {
    width: 350px;
    margin-left: 20px;
  }
  .sp-kasaneru p {
    font-size: 24px;
    position: absolute;
    top: 80%;
    left: 35%;
    -ms-transform: translate(-50%, -50%); /*ベンダープレフィックス*/
    -webkit-transform: translate(-50%, -50%); /*ベンダープレフィックス*/
    transform: translate(-50%, -50%); /*センター寄せの修正*/
    color: #000;

    margin: 0 !important; /*文字がずれている場合や*/
    padding: 0 !important; /*文字が折り返される場合*/
  }
}
.main {
  width: 1000px;
  background-color: #fff;
  font-size: 32px;
  padding-top: 10px;
  padding-bottom: 10px;
}
@media screen and (max-width: 680px) {
  .main {
    width: 350px;
    margin: 0 auto;
  }
}
/* 　　　モバイルサイト　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　 */

@media screen and (max-width: 680px) {
  .mbairu {
    width: 100%;
  }
}
@media screen and (max-width: 680px) {
  .sp-main {
    font-size: 18px;
    padding-top: 20px;
    padding-bottom: 10px;
    align-items: center;
  }
  .sp-main .sp-rinku {
    text-align: center;
    font-size: 18px;
    padding-bottom: 13px;
  }
  /* 　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　効いていない */
  .sp-rinku p {
    text-decoration: none;
    color: #000;
  }

  .sp-main img {
    width: 381px;
  }

  .sp-main .text {
    font-size: 12px;
    width: 255px;
    padding-left: 18%;
  }
}
.kasaneru {
  display: block;
}
@media screen and (max-width: 680px) {
  .kasaneru {
    display: none;
  }
}
.mobairu {
  display: none;
}
@media screen and (max-width: 680px) {
  .mobairu {
    display: block;
  }
}
@media screen and (max-width: 680px) {
  .aisatsu {
    display: flex;
    flex-direction: column;
  }
}
/*　　　　 院長挨拶　　　　　　　　　　　　　　　　　　　　　　 */
/* .aisatsu {
  margin-top: 30px;
} */

.main div p {
  font-size: 21px;
  margin-top: 10px;
  font-family: "Sawarabi Gothic", "Yu Gothic", "Hiragino Kaku Gothic ProN",
    "Helvetica Neue", "Helvetica", "Hiragino Sans", "Arial", "Meiryo",
    sans-serif;
}

h2 {
  font-size: 40px;
  text-align: center;
  font-family: "Sawarabi Gothic", "Yu Gothic", "Hiragino Kaku Gothic ProN",
    "Helvetica Neue", "Helvetica", "Hiragino Sans", "Arial", "Meiryo",
    sans-serif;
}

.midori::after {
  content: url(../images/midori001.png);
}
.midori-1 {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 680px) {
  .midori-1 {
    flex-direction: column;
    justify-content: center;
  }

  .midori-1 img {
    width: 200px;
    padding-top: 20px;
    margin: 0 auto;
  }
}
.satou {
  text-align: right;
  padding-bottom: 20px;
}
.aisatsu .sp {
  display: none;
}

@media screen and (max-width: 680px) {
  .aisatsu .pc {
    display: none;
  }
  .aisatsu .sp {
    display: block;
  }
}
@media screen and (max-width: 680px) {
  .main div p {
    font-size: 18px;
    margin-top: 10px;
    font-family: "Sawarabi Gothic", "Yu Gothic", "Hiragino Kaku Gothic ProN",
      "Helvetica Neue", "Helvetica", "Hiragino Sans", "Arial", "Meiryo",
      sans-serif;
    /* width: 100%100cqh; */
    /* width: 350px; */
    padding: 0 4px;
    width: calc(100% - 8px);
    text-align: justify;
  }

  h2 {
    font-size: 24px;
    font-family: "Sawarabi Gothic", "Yu Gothic", "Hiragino Kaku Gothic ProN",
      "Helvetica Neue", "Helvetica", "Hiragino Sans", "Arial", "Meiryo",
      sans-serif;
  }

  .midori::after {
    content: url(../images/midori001.png);
  }
  .midori-1 {
    display: block;
    /* display: flex;
    flex-direction: column; */
    /* text-align: center; */
  }
  .text-3 {
    display: contents;
    padding-bottom: 20px;
  }
  .satou {
    padding-bottom: 20px;
    /* text-align: right; */
  }
  .midori-3::after {
    content: ""; /*何も入れない*/
    display: inline-block;
    width: 30px; /*画像の幅*/
    height: 30px; /*画像の高さ*/
    background-image: url(../images/midori001.png);
    background-size: contain;
    vertical-align: middle;

    /* content: url(../images/icon01.png); */
  }

  .midori-1 img {
    text-align: center;
  }
}

/* コラムのあたり　　　　　　　　　　　　　　　　　　　　　　　　　 */

.i-koramu {
  background-color: #fff;
  padding-bottom: 15px;
}
.i-koramu span div {
  flex-direction: column;
}
.i-koramu div {
  display: flex;
  justify-content: center;
}

.iriguchi {
  display: flex;
  align-items: center;
  /* justify-content: space-around; */

  padding: 15px 5px 15px 23px;
  border: 4px solid #8fc31f;
  margin-left: 10px;
  margin-bottom: 20px;
  margin-top: 10px;
  background-color: #b8c7c4 !important;
}

.midori-2 {
  display: flex;
  justify-content: center;
}
.midori-2 .i-koramu {
  padding-top: 40px;
}

/* モバイルのカレンダー箇所　　　　　　 */
.mobairu-2 {
  display: none;
}
@media screen and (max-width: 680px) {
  .mobairu-2 {
    display: block;
  }
}

@media screen and (max-width: 680px) {
  .i-koramu div {
    display: flex;
    justify-content: center;
  }
  .midori-2 img {
    width: 110px;
    margin-left: 8px;
    margin-right: 8px;
  }
  .komoji {
    width: 85%;
  }

  .iriguchi {
    display: flex;
    /* justify-content: center; */
    /* align-items: center;
    justify-content: space-around; */

    border: 4px solid #dcdddd;
    margin-left: 5px;
    margin-right: 5px;

    background-color: #fff !important;
  }
  .iriguchi img {
    width: 85px;
  }
}

/* 診療時間のページ　　　　　　　　　　　　　　　　　　　　　　　　　　 */

odori {
  background-color: #fff;
}
.jikan-1 {
  /* background-color: #fff; */
  display: flex;
  justify-content: center;
  margin-top: 44px;
  margin-bottom: 45px;
  align-items: center;
}
.jikan-1 .tate {
  font-size: 21px;
}
.tate {
  padding-bottom: 10px;
}
.rinku {
  font-family: "Yomogi", serif;
  font-weight: 400;
  font-style: normal;
  padding-top: 30px;
  font-size: 24px;
}
.tate a:hover {
  color: red;
}

.coment {
  font-size: 21px;
  padding-left: 80px;
  padding-bottom: 60px;
}

/* トピックページ　　　　　　　　　　　　　　　　　　　　　　　　　　 */

.topic {
  display: flex;
  justify-content: center;
}

.iriguchi-2 {
  width: 920px;

  display: flex;

  align-items: center;
  justify-content: flex-start;

  padding-left: 40px;
  padding-top: 35px;
  padding-bottom: 35px;
  border: 2px solid #dcdddd !important;
  margin-bottom: 41px;

  margin-left: 20px;

  background-color: #fff !important;
  font-size: 24px;
}
.iriguchi-2 li {
  font-size: 21px;
  margin-left: 165px;
}
@media screen and (max-width: 680px) {
  .topic {
    display: flex;
    justify-content: center;
  }

  .iriguchi-2 {
    width: 325px;

    display: flex;
    /* justify-content: center; */

    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 2px solid #00913a;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left: 28px;

    background-color: #fff !important;
    font-size: 14px;
  }
  .iriguchi-2 li {
    font-size: 10px;
    margin-left: 30px;
  }
}

/* お知らせ　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　 */
.iriguchi-3 {
  width: 742px;
  color: #fff;
  padding-left: 60px;
  padding-top: 35px;
  padding-bottom: 50px;
  border: 2px solid #00913a;
  border-radius: 30px;
  margin-bottom: 50px;
  margin-left: 100px;
  background-color: #15381c !important;
  font-size: 24px;
}

.iriguchi-3 h3 {
  text-align: center;
  padding-bottom: 30px;
  font-size: 36px;
}
.iriguchi-3 .item {
  display: flex;
  justify-content: space-around;
  padding-bottom: 10px;
}
@media screen and (max-width: 680px) {
  .iriguchi-3 {
    width: 340px;
    color: #fff;
    padding-left: 10px;
    padding-top: 18px;
    padding-bottom: 20px;
    border: 2px solid #00913a;
    border-radius: 30px;
    margin-bottom: 20px;
    margin-left: 17px;
    background-color: #15381c !important;
    font-size: 14px;
  }

  .iriguchi-3 h3 {
    text-align: center;
    padding-bottom: 30px;
    font-size: 18px;
  }

  .iriguchi-3 .item {
    display: flex;
    justify-content: space-around;
    padding-bottom: 10px;
  }
}
